<mat-horizontal-stepper
  (selectionChange)="onStepChange($event)"
  linear
  class="mat-elevation-z8 max-w-xs sm:max-w-sm md:max-w-4xl"
  #stepper
>
  <mat-step
    *ngFor="let step of steps; first as isFirstStep; last as isLastStep"
    [label]="step.label"
  >
    <h2 class="text-lg text-bold">{{ step.title || step.label }}</h2>
    <!-- TODO: Make formGroupName work instead of manually getting formGroup -->
    <form
      class="flex flex-col min-h-108"
      [formGroup]="formGroups.get(step.formGroupName)"
    >
      <ng-container *ngFor="let field of step.fields" [ngSwitch]="field.type">
        <mat-form-field *ngSwitchCase="'select'">
          <mat-select
            [placeholder]="field.label"
            name="field.formControlName"
            [formControlName]="field.formControlName"
          >
            <mat-option *ngFor="let item of field.items" [value]="item.value">
              {{ item.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container
          *ngSwitchCase="'checkbox-group'"
          [formArrayName]="field.formControlName"
        >
          <mat-label> {{ field.label }} </mat-label>
          <mat-checkbox
            *ngFor="let item of field.items; index as i"
            [formControlName]="i"
          >
            {{ item.text }}
          </mat-checkbox>
        </ng-container>
        <mat-checkbox
          *ngSwitchCase="'checkbox'"
          [formControlName]="field.formControlName"
        >
          {{ field.label }}
        </mat-checkbox>
        <mat-form-field *ngSwitchDefault hideRequiredMarker>
          <input
            matInput
            type="field.type"
            [name]="field.formControlName"
            [placeholder]="field.label"
            [required]="field.required || true"
            [formControlName]="field.formControlName"
          />
          <mat-icon *ngIf="field.icon" matSuffix>{{ field.icon }}</mat-icon>
        </mat-form-field>
      </ng-container>
      <div class="flex-grow"></div>
      <div class="flex justify-between">
        <button
          mat-raised-button
          matStepperPrevious
          [disabled]="isFirstStep"
          color="primary"
        >
          Previous Step
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="!formGroups.get(step.formGroupName).valid"
        >
          Next Step
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Review and Submit">
    <h2 class="text-lg text-bold">Review your Details and Submit</h2>
    <div class="flex flex-col min-h-108">
      <ng-container *ngFor="let section of summary">
        <h3 class="text-bold text-gray-800">{{ section.label }}</h3>
        <p *ngFor="let line of section.lines" class="text-gray-600">
          {{ line }}
        </p>
        <mat-divider class="mt-2"></mat-divider>
      </ng-container>
      <div class="flex-grow"></div>
      <form class="flex justify-between" (submit)="onSubmit()">
        <button mat-raised-button matStepperPrevious color="primary">
          Previous Step
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="accent"
          [disabled]="!formGroups.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </mat-step>
</mat-horizontal-stepper>
