<nav class="px-8 py-4 bg-blue-700 text-white">
  <div class="flex flex-row mx-auto items-center">
    <h1 class="flex-grow">{{ title }}</h1>
    <div class="px-8" routerLinkActive="hidden">
      <button routerLink="/projects" mat-flat-button color="accent">
        Show Projects
      </button>
    </div>
    <div class="mx-8" routerLinkActive="hidden">
      <button routerLink="/new-project" mat-flat-button color="accent">
        New Project
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</nav>
<main class="flex mx-auto p-4 justify-center overflow-x-auto">
  <router-outlet></router-outlet>
</main>
