<!-- TODO: min-width -->
<table
  mat-table
  [dataSource]="projects"
  class="mat-elevation-z8 min-w-160 w-full overflow-x-scroll"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef>Project</th>
    <td mat-cell *matCellDef="let row">{{ row.projectName }}</td>
  </ng-container>
  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let row">{{ row.projectOwner }}</td>
  </ng-container>
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
  </ng-container>
  <ng-container matColumnDef="lang">
    <th mat-header-cell *matHeaderCellDef>Language</th>
    <td mat-cell *matCellDef="let row">{{ row.lang }}</td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let row">
      {{ row.createdAt.toLocaleDateString(row.lang) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef style="width:56px;padding-right:1rem">
      <button mat-flat-button (click)="reset()" color="accent">
        Remove All
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <button
        mat-icon-button
        (click)="remove(row.id)"
        style="margin-left: auto;display: block"
      >
        <span class="text-red-600 text-lg">&times;</span>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
