body {
  margin: 0;
}
#overlay > :nth-child(2) {
  color: chocolate;
  font-size: 32px;
  margin-top: 50px;
  text-align: center;
}
#overlay > :nth-child(2) > span {
  color: blueviolet;
}
#overlay {
  position: fixed;
  background-color: rgba(204, 204, 204, 0.8);
  color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99998;
  transition: opacity 0.5s ease;
}
#overlay.hidden {
  opacity: 0;
}
#atom,
#atom > div {
  position: relative;
  box-sizing: border-box;
}

#atom {
  display: block;
  font-size: 0;
  color: #4299e1;
}

#atom > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

#atom {
  width: 96px;
  height: 96px;
}

#atom > div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 60%;
  height: 60%;
  background: #2b6cb0;
  border-radius: 100%;
  animation: atom-shrink 4.5s infinite linear;
}

#atom > div:not(:nth-child(1)) {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: none;
  animation: atom-zindex 1.5s 0s infinite steps(2, end);
}

#atom > div:not(:nth-child(1)):before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  content: '';
  background: currentColor;
  border-radius: 50%;
  opacity: 0.75;
  animation: atom-position 1.5s 0s infinite ease,
    atom-size 1.5s 0s infinite ease;
}

#atom > div:nth-child(2) {
  animation-delay: 0.75s;
}

#atom > div:nth-child(2):before {
  animation-delay: 0s, -1.125s;
}

#atom > div:nth-child(3) {
  transform: rotate(120deg);
  animation-delay: -0.25s;
}

#atom > div:nth-child(3):before {
  animation-delay: -1s, -0.75s;
}

#atom > div:nth-child(4) {
  transform: rotate(240deg);
  animation-delay: 0.25s;
}

#atom > div:nth-child(4):before {
  animation-delay: -0.5s, -0.125s;
}

@keyframes atom-position {
  50% {
    top: 100%;
    left: 100%;
  }
}

@keyframes atom-size {
  50% {
    transform: scale(0.5, 0.5);
  }
}

@keyframes atom-zindex {
  50% {
    z-index: 10;
  }
}

@keyframes atom-shrink {
  50% {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
}

#load-overlay {
  display: none;
}
